* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.white-box{
    width:  calc(0.5 * (max(100vh, 100vw) - min(100vh, 100vw)));
    /*height: calc(0.5 * (max(100vh, 100vw) - min(100vh, 100vw)))*/;  
}

.container{
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sub-container{
    width: calc(min(100vw,100vh) * 1/16);
    height: calc(min(100vw,100vh) * 1/16);
    transition: all 1s;
}

.boxnum{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-aspect-ratio: 1/1) {
  .white-box {
    display: none;
  }
}